absl-py==0.12.0
aiofiles==0.6.0
aniso8601==9.0.1
apturl==0.5.2
asn1crypto==0.24.0
astor==0.8.1
attrs==19.1.0
Automat==0.7.0
biopython==1.79
Brlapi==0.6.6
cached-property==1.5.2
certifi==2021.5.30
cffi==1.12.2
chardet==4.0.0
click==8.0.1
colorama==0.4.4
command-not-found==0.3
constantly==15.1.0
contextvars==2.4
cryptography==2.6.1
cssselect==1.0.3
cupshelpers==1.0
cycler==0.10.0
dataclasses==0.8
defer==1.0.6
distro==1.5.0
distro-info===0.18ubuntu0.18.04.1
docker==4.4.1
elasticsearch==7.5.1
fastapi==0.63.0
Flask==1.1.2
Flask-Cors==3.0.8
flask-restplus==0.13.0
gast==0.4.0
google-pasta==0.2.0
googletrans==3.1.0a0
grpcio==1.37.0
gTTS==2.2.2
h11==0.12.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httplib2==0.9.2
httpx==0.13.3
hyperframe==5.2.0
hyperlink==18.0.0
idna==2.8
immutables==0.15
importlib-metadata==4.6.4
incremental==17.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jwt==1.2.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
lxml==4.3.2
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
mock==1.0.1
mysql-connector==2.2.9
netifaces==0.10.4
nltk==3.6.1
numpy==1.19.5
oauth==1.0.1
olefile==0.45.1
packaging==20.9
pandas==0.25.1
parsel==1.5.1
passlib==1.7.4
pexpect==4.2.1
Pillow==8.3.1
protobuf==3.15.8
py4j==0.10.7
pyasn1==0.4.5
pyasn1-modules==0.2.4
PyAudio==0.2.11
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
pydantic==1.7.3
PyDispatcher==2.0.5
PyGObject==3.26.1
PyHamcrest==1.9.0
pymacaroons==0.13.0
PyNaCl==1.1.2
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyRFC3339==1.0
pyrsistent==0.17.3
pysam==0.16.0.1
pyspark==2.4.5
python-apt==1.6.5+ubuntu0.5
python-dateutil==2.8.2
python-debian==0.1.32
python-dotenv==0.17.1
python-multipart==0.0.5
pyttsx3==2.87
pytz==2021.1
pyxdg==0.25
PyYAML==5.4.1
queuelib==1.5.0
regex==2021.4.4
reportlab==3.4.0
requests==2.25.1
requests-unixsocket==0.1.5
rfc3986==1.4.0
RUST==0.1.1
scapy==2.4.2
scikit-build==0.11.1
scikit-learn==0.24.1
scipy==1.5.4
Scrapy==1.6.0
SecretStorage==2.3.1
semantic-version==2.8.5
service-identity==18.1.0
setuptools-rust==0.12.1
simplejson==3.13.2
six==1.15.0
sklearn==0.0
sniffio==1.2.0
SpeechRecognition==3.8.1
ssh-import-id==5.7
starlette==0.13.6
system-service==0.3
systemd-python==234
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.60.0
Twisted==18.9.0
typing-extensions==3.10.0.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.3
uvicorn==0.13.3
virtualenv==16.7.4
w3lib==1.20.0
wadllib==1.3.2
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
xgboost==0.90
xkit==0.0.0
xlrd==1.2.0
zipp==3.5.0
zope.interface==4.6.0
